body{background-color: rgb(100, 216, 216);}
table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}
td{
    text-align: center;
}
th{
    font-weight: bolder;
}
