body{
    background-image:url(images/pexels-pixabay-147411.jpg);
    background-size: cover;
    background-position: center;
}
table, th, td{
    border: 2px solid black;
    border-collapse:collapse;

}
tr:nth-child(even){
    background-color: aquamarine;
}
tr:nth-child(9){
    background-color: black;
}
tr:nth-child(odd){
    color: white;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: 800;
    font-style: italic;
}
