body{
    background-color: rgb(117, 255, 209);
}
table, td, th {
    border-width: 6px;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    text-align: center;
    height: 32px;
    width: 512px;
}
table{
    margin: auto;
}
h1{
    text-align: center;
}
